:root {
    --background: #1a1b26;
    --textarea: #fff;
    --text-default: #a9b1d6;
    --line-numbers: #3b4261;
    --logo-container: #0e0e14;
    --buttons-container: #13141c;
    --shortcut-container-bg: #1a1b26;
    --messages: #fff;
    --shortcut-container: #c4dce3;
    --message-info: #13141c;
    --message-error: #8c4351;
}
